@import '../../../app/globals';

.subscribe{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.subscribe{
  .left{
    p:nth-child(1){
      @include my-font;
      text-transform: uppercase;
      font: {
        size: 20px;
        weight: 600;
      }
      color: #212429;
    }

    p:nth-child(2){
      @include my-font;
      text-transform: uppercase;
      font: {
        size: 15px;
        weight: 100;
      }
    }
  }

  .right{
    input{
      @include my-font;
      width: 250px;
      text-transform: capitalize;
      border-radius: 18px;
      border: 1px solid #B6B6B6;
      padding: 8px 0 8px 8px;

    }

    input::placeholder{
      font-size: 12px;
    }
    button{
      @include my-button;
      margin-left: 20px;
      background-color: #AB5D02;
      color: #FFF;
      padding: 10px 30px !important;
      border-radius: 20px;
      font: {
        size: 10px;
        weight: 500;
      }
    }
  }
}

// for dark theme

.darkSubscribe{
  .left{
    p{
      color: #FFF !important;
    }
  }
}