.searchWrapper{
  .searchCode{
    // background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

    code{
      .line1,
      .line7{
        color: red;
      }
      .property{
        color: green;
      }
      .value{
        color: #AA336A;
      }
      .comment{
        color: grey;
      }
      .punc{
        color: #000;
      }
    }
  }
}


