// @import '../../../app/globals';

// .discounts{
//   height: 600px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #F5F5F5;
//   margin-top: 70px;
// }

// .discounts{
//   .left{
//     width: 40%;
//     .icon1{
//       height: 600px;
//     }
//   }

//   .middle{
//     text-align: start;
//     width: 30%;
//     height: 600px;
//     padding: 250px 0 0 50px;
    
//     h1{      
//       @include my-font;
//       text-transform: capitalize;

//       font: {
//         size: 52px;
//         weight: 600; 
//       }
//     }
//     h3{
//       color: #AB5D02;
//       text-transform: capitalize;
//       font: {
//         size: 37px;
//         weight: 700; 
//       }
//       @include my-font;
//     }
//     button{
//       width: 10px;
//       @include my-button;
//       background-color: #AB5D02;
//       width: 172px !important;
//       padding: 15px !important;
//       color: #FFF;

//       .rightArrow1{
//         padding-left: 5px;
//       }
//     }
//   }

//   .right{
//     width: 18%;
//     position: relative;
//     height: 600px;
//     .icon2{
//       height: 800px;
//       width: 450px;
//       position: absolute;
//       bottom: -230px;
//       right: -30px;
//     }
//   }
// }

// // for dark theme

// .darkdiscounts{
//   width: 100%;
//   height: 600px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   background-color: #000;
//   margin-top: 70px;
// }

// .darkdiscounts{
//   .left{
//     width: 40%;
//     .icon1{
//       height: 600px;
//     }
//     background: #000;
//   }

//   .middle{
//     text-align: start;
//     width: 30%;
//     height: 600px;
//     padding: 250px 0 0 50px;
//     color: #FFF;
//     background: #000;

//     h1{      
//       @include my-font;
//       text-transform: capitalize;

//       font: {
//         size: 52px;
//         weight: 600; 
//       }
//     }
//     h3{
//       color: #AB5D02;
//       text-transform: capitalize;
//       font: {
//         size: 37px;
//         weight: 700; 
//       }
//       @include my-font;
//     }
//     button{
//       width: 10px;
//       @include my-button;
//       background-color: #AB5D02;
//       width: 172px !important;
//       padding: 15px !important;
//       color: #FFF;

//       .rightArrow1{
//         padding-left: 5px;
//       }
//     }
//   }

//   .right{
//     width: 18%;
//     position: relative;
//     height: 600px;
//     .icon2{
//       height: 800px;
//       width: 450px;
//       position: absolute;
//       bottom: -230px;
//       right: -30px;
//     }
//     background: #000;
//     color: #FFF;
//   }
// }


@media screen and (min-width : 0) and (max-width: 575px) {
  .leftImg{
    height: 200px !important;
    img{
      height: 200px !important;
    }
  }
  .content{
    height: 200px !important;
  }
  .rightImg{
    height: 200px !important;
    img{
      height: 200px !important;
    }
  }
}
@media screen and (min-width : 576px) and (max-width: 767px) {
  .leftImg{
    height: 300px !important;
    img{
      height: 300px !important;
    }
  }
  .content{
    height: 300px !important;
  }
  .rightImg{
    height: 300px !important;
    img{
      height: 300px !important;
    }
  }
}

@media screen and (min-width : 768px) and (max-width: 991px) {
  .leftImg{
    height: 400px !important;
    img{
      height: 400px !important;
    }
  }
  .content{
    height: 400px !important;
  }
  .rightImg{
    height: 400px !important;
    img{
      height: 400px !important;
    }
  }
}

@media screen and (min-width : 992px) and (max-width: 1199px) {
  .leftImg{
    height: 500px !important;
    img{
      height: 500px !important;
    }
  }
  .content{
    height: 500px !important;
  }
  .rightImg{
    height: 500px !important;
    img{
      height: 500px !important;
    }
  }
}

@media screen and (min-width : 1200px) {
  .leftImg{
    height: 600px !important;
    img{
      height: 600px !important;
    }
  }
  .content{
    height: 600px !important;
  }
  .rightImg{
    height: 600px !important;
    img{
      height: 600px !important;
    }
  }
}
