@import '../../../app/globals';
@mixin category-heading{
  text-align: start;
  @include my-font;
  padding-left: 30px;
  font: {
    size: 25px;
    weight: 600;
  }
}
@mixin category-list{
  list-style: none;
  @include my-font;
  padding-left: 30px;
  text-transform: capitalize;
  li{
    padding: 5px 0;
  }
}
@mixin category-show-more{
  color: #AB5D02;
  font-weight: 600;
  position: absolute;
  left: 30px;
  padding: 0 !important;
  margin: 0;
  @include my-button;
  background-color: transparent;
  border: none;
  .rightArrow2{
    cursor: pointer;
    font-weight: 600;
    padding-left: 5px;
  } 
}

.shopByCategories{
  display: flex;
  flex-direction: column;
}

.shopByCategories{
  h1{
    @include my-font;
    @include sub-headings;
  }
  p{
    @include my-font;
    @include sub-paras;
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;

    .left{
      width: 100%;
      height: 500px;
      position: relative;
      background-color: rgba(249, 244, 240, 1);
      margin: {
        right: 10px;
        left: 70px;
      }  
      border-radius: 10px;
      border-bottom-right-radius: 0;

      .heading{
        @include category-heading;
        padding-bottom: 8px;
      }

      ul{
        @include category-list;
      }
      
      .showMore{
        @include category-show-more;
        bottom: 30px;
      }

      .icon1{
        position: absolute;
        bottom: 0;
        right: -60px;
        width: 450px;
        height: 400px;
      }

    }

    .right{
      display: flex;
      height: 500px;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      margin: {
        left: 10px;
        right: 50px;
      }
      

      .top{
        width: 100%;
        height: 50%;
        background-color: rgba(249, 244, 240, 1);
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;

        .heading{
          @include category-heading;
          padding-bottom: 0;
          margin-block-end: 0;
        }

        ul{
          @include category-list;
        }

        .showMore{
          @include category-show-more;
          bottom: 15px;
        }

        .icon2{
          position: absolute;
          bottom: 0;
          right: -120px;
          width: 10x;
          height: 400px;
        }
      }

      .bottom{
        width: 100%;
        height: 50%;
        background-color: rgba(249, 244, 240, 1);
        margin-top: 10px;
        border-radius: 10px;
        position: relative;

        .heading{
          @include category-heading;
          padding-bottom: 0;
          margin-block-end: 0;
        }
        ul{
          @include category-list;
        }
        .showMore{
          @include category-show-more;
          bottom: 15px;
        }
        .icon3{
          position: absolute;
          bottom: -11px;
          right: -200px;
          width: 510px;
          height: 220px;
        }
      }
    }
  }

}

// for dark theme

.darkShopByCategories{
  display: flex;
  flex-direction: column;
  background: #000;
}

.darkShopByCategories{
  h1{
    @include my-font;
    @include sub-headings;
    color: #FFF;
    background: #000;
  }
  p{
    @include my-font;
    @include sub-paras;
    color: #FFF;
    background: #000;
  }
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;

    .left{
      width: 100%;
      height: 500px;
      position: relative;
      background-color: rgba(249, 244, 240, 1);
      margin: {
        right: 10px;
        left: 70px;
      }  
      border-radius: 10px;
      border-bottom-right-radius: 0;
      background: #000;

      .heading{
        @include category-heading;
        padding-bottom: 8px;
        color: #FFF;
      }

      ul{
        @include category-list;
        color: #FFF;
      }
      
      .showMore{
        @include category-show-more;
        bottom: 30px;
      }

      .icon1{
        position: absolute;
        bottom: 0;
        right: -60px;
        width: 450px;
        height: 400px;
      }

    }

    .right{
      display: flex;
      height: 500px;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      margin: {
        left: 10px;
        right: 50px;
      }
      

      .top{
        width: 100%;
        height: 50%;
        background-color: rgba(249, 244, 240, 1);
        margin-bottom: 10px;
        border-radius: 10px;
        position: relative;
        background: #000;

        .heading{
          @include category-heading;
          padding-bottom: 0;
          margin-block-end: 0;
          color: #FFF;
        }

        ul{
          @include category-list;
          color: #FFF;
        }

        .showMore{
          @include category-show-more;
          bottom: 15px;
        }

        .icon2{
          position: absolute;
          bottom: 0;
          right: -120px;
          width: 10x;
          height: 400px;
        }
      }

      .bottom{
        width: 100%;
        height: 50%;
        background-color: rgba(249, 244, 240, 1);
        margin-top: 10px;
        border-radius: 10px;
        position: relative;
        background: #000;

        .heading{
          @include category-heading;
          padding-bottom: 0;
          margin-block-end: 0;
          color: #FFF;
        }
        ul{
          @include category-list;
          color: #FFF;
        }
        .showMore{
          @include category-show-more;
          bottom: 15px;
        }
        .icon3{
          position: absolute;
          bottom: -11px;
          right: -200px;
          width: 510px;
          height: 220px;
        }
      }
    }
  }

}