@media screen and (min-width : 0) and (max-width: 575px) {
  .itemDetails{
    margin-top: 150px;
  }
}

@media screen and (min-width : 575px) and (max-width: 767px) {
  .itemDetails{
    margin-top: 200px;
  }
}

@media screen and (min-width : 767px) and (max-width: 991px) {
  .itemDetails{
    margin-top: 250px;
  }
}

@media screen and (min-width : 991px) and (max-width: 1200px){
  .relatedItems{
    margin-top: 60px !important;
  }
}

@media screen and (min-width : 1200px) and (max-width: 1400px){
  .relatedItems{
    margin-top: 80px !important;
  }
}

@media screen and (min-width : 1400px){
  .relatedItems{
    margin-top: 115px !important;
  }
}

.imageContainer{
  .heart{
    top: 3% !important;
    right: 10% !important;

  }
}