@import '../../../app/globals';

.banner{
  width: 100%;
  height: 550px;
  position: relative;
  margin-bottom: 50px;
  z-index: 100;
}

.banner{
  .bannerImage{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 550px;
    object-fit: cover;
    z-index: -1;
  }

  p{
    text-transform: capitalize;
    padding: 120px 0 0 90px;
  }
}

.banner{
  p:nth-child(2){
    color: #AB5D02;
    font: {
      size: 35px;
      weight: 500;
    }
    padding-bottom: 0;
  }

  p:nth-child(3){
    padding-top: 0;
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
  }

  .buttons{
    width: 320px;
    padding: 10px 0 0 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button:nth-child(1){
      @include my-button;
      background-color: #AB5D02;
      color: #FFF;
      font-weight: 500;
      width: 196px;
      
      .rightArrow1{
        padding-left: 5px;
      }
    }

    button:nth-child(2){
      @include my-button;
      color: #AB5D02;
      border: 1px solid #AB5D02;
      background-color: transparent;
      font-weight: 500;

      .rightArrow2{
        padding-left: 5px;
      }
    }
  }
}