.itemContainer{
  .imageContainer{
    .discount{
      top: 3% !important;
      left: 6% !important;
    }
    .heart{
      top: 3% !important;
      right: 6% !important;
    }
  }
  .addToCart{
    background-color: rgba(171, 93, 2, 0.66);
  }
  .itemDes{
    // height: 100px !important;
    z-index: 99 !important;
  }
}


@media screen and (min-width : 991px) {
  .itemContainer{
    .imageContainer{
      .addToCart{
        z-index: 2 !important;
        opacity: 0;
        transform: translateY(100%);
      }
    }
  }
  .imageContainer:hover .addToCart{
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out;
    background-color: rgba(171, 93, 2, 0.66);
  }
}

@media screen and (min-width : 0) and (max-width: 575px) {
  .itemContainer{
    height: 100% !important;
    .image{
      width: 100% !important;
      height: 247px;
    }
    .itemDes{
      // height: 70px !important;
    }
  }
}

@media screen and (min-width : 576px) and (max-width: 767px) {
  .itemContainer{
    height: 100% !important;
    .image{
      width: 100% !important;
      height: 247px;
    }
  }
}

@media screen and (min-width : 768px) and (max-width: 991px) {
  .itemContainer{
    height: 100% !important;
    .image{
      width: 100% !important;
      height: 247px;
    }
    .itemDes{
      // height: 80px !important;
    }
  }
}