@media screen and (min-width : 992px) {
  .left{
    .heading{
      h3::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #AB5D02;
        height: 100%;
        width: 7px;
        border-radius: 10px;
      }
    }

    .menu{
      ul{
        li:hover{
          background-color: #AB5D0275;
        }
        li:active::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(60, 66, 66, 1);
          height: 100%;
          width: 3px;
          border-radius: 10px;
        }
      }
    }
    
  }
}