.mainContainer{
  .banner{
    .details{
      h1{
        font-size: 70px;
      }
    }
  }

  .imageContainer{
    height: 600px;
    display: flex;
    position: relative;
    .image1div{
      position: absolute;
      top:10%;
      left: 20%;
      z-index: 500;
      height: inherit;
      .image1{
        width: 400px;
        height: 500px;
        z-index: 999;
      }
    }
    .image2div{
      position: absolute;
      top: 0;
      right: -20%;
      margin-left: auto;
      width: auto;
      .image2{
        width: 500px;
        height: 600px;
        // background:linear-gradient(89.26deg, rgba(255, 255, 255, 0.37) -13.18%, rgba(171, 93, 2, 0.72) 99.27%);
      }
    }
  }
}

@media screen and (max-width : 1200px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 55px;
        }
      }
    }
  }
}

@media screen and (max-width : 992px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width : 768px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (max-width : 576px) {
  .mainContainer{
    .banner{
      .details{
        h1{
          font-size: 25px;
        }
      }
    }
    .imageContainer{
      width: 500px;
      height: 600px;
      padding: 0;
      .image1div{
        // display: none;
        top: 10%;
        left: 8%;
        .image1{
          width: 400px;
          height: 500px;
        }
      }
      .image2div{
        // display: none;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // margin-left: 20px;
        padding: 0;
        .image2{
          height: 600px;
          width: inherit;
          object-fit: cover;
          margin: auto;
        }
      }
    }
  }
}