.header{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  background: #FFF;
  z-index: 100;
  }

// for dark theme
.darkHeader{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  background-color: #000;
  position: sticky;
  top: 0;
  background: #000;
  z-index: 100;
}