@import '../../../app/globals';
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

$font-heading: 'Bad Script';

.instaLove{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.instaLove{
  .heading{
    width: auto;
    height: 100px;
    text-align: center;
    margin-bottom: 10px;

    p:nth-child(1){
      @include my-font;
      font: {
        size: 30px;
        weight: 100;
      }
      text-transform: capitalize;
      margin-block-end: 0;
    }

    p:nth-child(2){
      font: {
        family: $font-heading;
        size: 25px;
      }
      margin-block-start: 7px;
    }
  }

  .content{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;

    ul{
      list-style: none;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 5px;

      li{
        padding: 0 15px;
        
      }
    }

  }
}

// for dark theme

.darkInstaLove{
  .content{
    background: #000;

    ul{
      li{
        border: 1px solid #FFF;
        border-radius: 10px;
      }
    }
  }
}