@import '../../../../app/globals';

.sizes{
  @include my-font;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-transform: capitalize;

  p{
    font-size: 15px;
    font-weight: bold;
    margin-block-start: 5px;
    margin-block-end: 0;
  }
  ul{
    font-size: 14px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    padding-inline-start: 15px;

    .range{
      color: rgba(105, 105, 105, 1);
      padding: 7px 0;

      input[type=radio] {
        accent-color: #AB5D02;
      }
    }
  }
}

.darkSizes{
  ul{
    list-style: square;
    
    .range{
      input[type=radio]{
        accent-color: #FFF;
      }
    }
    
  }
}