@import '../../../../app/globals';

.mainHeading{
  p{
    text-transform: uppercase;
    font-size: 40px;
    @include my-font;
    font-weight: 100;
    margin-block-start: 0;
    margin-block-end: 0;

    span{
      @include ultra-bold;
      font-weight: 900;
      letter-spacing: -2px;
      font-size: 40px;
      margin-left: -7px;
    }
  }
}


