.navBar{
  button:focus,
  input:focus{
    box-shadow: none !important;
    outline: none !important;
  }
  .searchBar{
    width: 25% !important;
    -webkit-transition: width 0.4s ease-in-out !important;
    transition: width 0.4s ease-in-out !important;
    border: 1px solid #AB5D02 !important;
  }
  .searchBar:focus{
    width: 100% !important;
  }
  
}

@media screen and (min-width : 768px) and (max-width: 991px) {
  .navBar{
    .offcanvas{
      margin-top: 65px;
    }
  }
}

@media screen and (min-width : 576px) and (max-width: 767px) {
  .navBar{
    .offcanvas{
      margin-top: 65px;
    }
  }
}

@media screen and (min-width : 0) and (max-width: 575px) {
  .navBar{
    .offcanvas{
      margin-top: 65px;
    }
  }
}